:root {
  --primary: #e0cb84;
  --bg: white;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #000;
}

.hub img {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  filter: drop-shadow(0 30px 25px #58555586);
  width: 5%;
}

.hub img:hover {
  translate: 1rem;
  transition: 0.5s;
}

/* Navbar */

li.dropdown {
  display: inline-block;
}

.dropdown:hover .isi-dropdown {
  display: block;
  padding: 15px 11px;
  margin-top: 1px;
  line-height: 50px;
}

.isi-dropdown a:hover {
  color: white;
  background-color: #fbff95;
  transition: 0.4s;
}

.isi-dropdown {
  position: absolute;
  display: none;
  box-shadow: 2px 18px 26px 2px rgba(88, 85, 85, 0.438);
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.isi-dropdown a {
  color: #4c3931 !important;
  /* translate: 0.5rem; */
}

.isi-dropdown a:hover {
  color: #d0b674 !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  translate: 1rem;
}

.navbar {
  background-color: #fbff95;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0px 8px 16px 0px #58555533;
  width: 100%;
  height: 12%;
}

.navbar img {
  /* padding-left: 5%; */
  width: 20%;
  filter: drop-shadow(0px 0px 5px white);
}

.navbar-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-nav > ul > li {
  float: left;
}

.navbar .navbar-nav li a {
  color: #4c3931;
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 20px;
  padding: 8px 24px;
}

.navbar .navbar-nav a:hover {
  color: #d0b674;
  transition: 0.4s;
  border-radius: 5px;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  /* border-bottom: 0.2rem solid var(--primary); */
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #000;
  /* margin: 0 0.5rem; */
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.slider {
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  /* background-image: url("../img/hero1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  /* margin-bottom: 10%; */
}

.slider::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, #e0ca84d7 8%, #e0ca8400 50%);
}

.slider .slides .caption {
  margin-top: 7rem;
}

.slider .slides .caption h1 {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.slider .caption h1 span {
  color: var(--primary);
  font-family: "Dancing Script", cursive;
  border-bottom: 0.2rem solid var(--primary);
}

.slider .caption p {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 4rem;
  line-height: 1.4;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.slider .caption .cta {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #4c3931;
  background-color: #fbff95;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */

.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about {
  padding: 8rem 7% 1.4rem;
  background-color: white;
  padding-bottom: 20%;
}

.about h2 {
  color: var(--primary);
  font-size: 60px;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Dancing Script", cursive;
  border-bottom: 0.2rem solid var(--primary);
}

.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.menu h2 span {
  border-bottom: 0.2rem solid var(--primary);
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: #000;
}

.about .row {
  display: flex;
  background-color: whitesmoke;
  padding: 5%;
  border-radius: 40px;
  box-shadow: 0px 8px 16px 0px #58555533;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 90%;
  border-radius: 40% 0%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.about .row .about-img img:hover {
  border-radius: 0px;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 10%;
}

.menu .row .menu-card img {
  border-radius: 25px;
  width: 40%;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.menu .row .menu-card .menu-card-tittle {
  margin-top: 1rem auto 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}

/* Menu Section */
#menu {
  background-color: #fbff95;
}

.menu h2,
span {
  color: #4c3931;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Dancing Script", cursive;
}

.contact h2 {
  color: var(--primary);
  font-size: 60px;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Dancing Script", cursive;
  border-bottom: 0.2rem solid var(--primary);
}

.contact span {
  color: var(--primary);
  font-size: 60px;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Dancing Script", cursive;
}

.menu h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5%;
  margin-bottom: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #4c3931;
  font-weight: bold;
  background-color: #fbff95;
  border-radius: 50px;
  border-bottom: 0.2rem solid var(--primary);
}

.menu p,
.contact p {
  text-align: center;
  max-width: 60rem;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.menu .row .menu-card .lihat-detail {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem 5rem;
  color: #000;
  background-color: #fff;
  border-radius: 5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #fff;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row .order {
  margin-left: 2rem;
}

.contact .row .order p {
  text-align: left;
  padding-top: 2rem;
}

.contact .row .order .pesan {
  margin-top: 0;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #000;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Footer */
footer {
  background-color: #fbff95;
  text-align: center;
  padding: 2rem 0 3rem;
  margin-top: 2rem;
}

footer .partner .partnership {
  width: 150px;
  margin-bottom: 3rem;
}

footer .logo .socmed {
  border-radius: 25px;
  width: 50px;
  margin-right: 1rem;
}

footer .pay .pay-method {
  width: 10%;
  margin-top: 4rem;
  filter: grayscale(100%);
  opacity: 50%;
}
footer .pay .pay-method:hover {
  transition: 0.5s;
  filter: grayscale(0%);
  opacity: 100%;
}

footer .credit {
  font-size: 1rem;
  margin-top: -1rem;
}

/* Media Querries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  .navbar img {
    width: 30%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav .active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .navbar img {
    width: 50%;
    margin-left: 5rem;
  }

  footer .partner .partnership {
    width: 80px;
  }

  footer .logo .socmed {
    width: 20px;
  }

  footer .credit {
    font-size: 50%;
  }
}
