:root {
  --primary: #e0cb84;
  --bg: white;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #000;
}

.hub img {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  filter: drop-shadow(0 30px 25px #58555586);
  width: 5%;
}

.hub img:hover {
  translate: 1rem;
  transition: 0.5s;
}

.menu-card .desc-sate {
  text-align: justify;
}

.customer {
  /* background: linear-gradient(0deg, #e0ca8400 1%, #fbff95d5 30%); */
  background: linear-gradient(0deg, #fbff95 1%, #fff 50%);
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.customer h3 {
  color: #4c3931;
  font-size: 50px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  border-bottom: 0.2rem solid var(--primary);
  margin-left: 15%;
  margin-right: 15%;
}

.customer .customer-img img {
  width: 10%;
  margin-top: 4rem;
  filter: grayscale(100%);
  opacity: 50%;
  padding: 1%;
  justify-content: center;
}

/* Navbar */

li.dropdown {
  display: inline-block;
}

.dropdown:hover .isi-dropdown {
  display: block;
  padding: 15px 11px;
  margin-top: 1px;
  line-height: 50px;
}

.isi-dropdown a:hover {
  color: white;
  background-color: #fbff95;
  transition: 0.4s;
}

.isi-dropdown {
  position: absolute;
  display: none;
  box-shadow: 2px 18px 26px 2px rgba(88, 85, 85, 0.438);
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: content-box;
}

.isi-dropdown a {
  color: #4c3931 !important;
}

.isi-dropdown a:hover {
  color: #d0b674 !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  translate: 1rem !important;
}

.navbar {
  background-color: #fbff95;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0px 8px 16px 0px #58555533;
  width: 100%;
  height: 12%;
  border-radius: 0px 0px 80px 80px;
}

.navbar img {
  width: 20%;
  filter: drop-shadow(0px 0px 5px white);
  margin-top: 0.5%;
}

.navbar-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-nav > ul > li {
  float: left;
}

.navbar .navbar-nav li a {
  color: #4c3931;
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 20px;
  padding: 8px 24px;
}

.navbar .navbar-nav a:hover {
  color: #d0b674;
  border-radius: 5px;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #4c3931;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
  margin-top: 2%;
}

table a img {
  width: 20%;
  border-radius: 50%;
}

/* Hero Section */
.slider {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -56px;
}

/* .slider:hover::after {
  background: linear-gradient(0deg, #fbff95d5 8%, #e0ca8400 50%);
  transition: 0.8s;
} */

.slider::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, #e0ca84d7 8%, #e0ca8400 50%);
}

.slider .slides .caption {
  text-align: justify;
  max-width: 60rem;
  margin-top: 55px;
}

.slider .slides .caption h1 {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.slider .caption h1 span {
  color: var(--primary);
  font-family: "Dancing Script", cursive;
  border-bottom: 0.2rem solid var(--primary);
}

.slider .caption p {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 4rem;
  line-height: 1.4;
  font-weight: 500;
  text-shadow: 1px 1px 5px black;
}

.slider .caption .cta {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #4c3931;
  /* font-weight: bold; */
  background-color: #fbff95;
  border-radius: 0.5rem;
  border: 1px solid #fbff95;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.slider .caption .cta:hover {
  border: 1px solid #fbff95;
  color: #fbff95;
  background-color: transparent;
}

/* About Section */

.menu,
.contact {
  padding: 8rem 7% 1.4rem;
  background-color: white;
}

.about {
  padding: 8rem 7% 1.4rem;
  background-color: white;
  padding-bottom: 20%;
}

.about h2 {
  color: var(--primary);
  font-size: 60px;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Dancing Script", cursive;
  border-bottom: 0.2rem solid var(--primary);
}

.menu h2,
.contact h2 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 3rem;
}

.menu h2 {
  border-bottom: 0.2rem solid var(--primary);
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: #000;
  font-size: 60px;
}

.about .row {
  display: flex;
  background-color: whitesmoke;
  padding: 5%;
  border-radius: 40px;
  box-shadow: 0px 8px 16px 0px #58555533;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 90%;
  border-radius: 40% 0%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.about .row .about-img img:hover {
  border-radius: 0px;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 5%;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  display: inline-block;
  font-weight: bold;
  background-color: #fbff95;
  border-radius: 50px;
  border-bottom: 0.2rem solid var(--primary);
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: justify;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
  background-color: whitesmoke;
  border-radius: 50px;
  margin-bottom: 10%;
  box-shadow: 1px 0px 3px rgba(1, 1, 3, 0.5);
  justify-content: center;
  padding: 6%;
}

.menu .row .menu-card img {
  border-radius: 25px;
  width: 25%;
  margin-bottom: 2rem;
  margin-left: 2rem;
  flex-wrap: wrap;
  cursor: pointer;
}

.menu .row .menu-card .menu-card-price {
  color: red;
}

/* Menu Section */
#menu {
  /* background-color: #fbff95; */
}

.menu h2,
span {
  color: #4c3931;
  font-size: 60px;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Dancing Script", cursive;
}

.contact h2 {
  color: var(--primary);
  font-size: 60px;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Dancing Script", cursive;
  border-bottom: 0.2rem solid var(--primary);
}

.contact h2,
span {
  color: #4c3931;
  font-size: 60px;
  text-align: center;
  margin-bottom: 5%;
  font-family: "Dancing Script", cursive;
}

.menu h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5%;
  margin-bottom: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #4c3931;
  font-weight: bold;
  background-color: #fbff95;
  border-radius: 50px;
  border-bottom: 0.2rem solid var(--primary);
}

.menu p,
.contact p {
  text-align: center;
  max-width: 80rem;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.menu .row .menu-card .lihat-detail {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 2% 5%;
  color: #4c3931;
  background-color: #fbff95b7;
  box-shadow: 0px 16px 16px 0px #58555533;
  justify-content: center;
  cursor: pointer;
  border-radius: 25px;
  border-bottom: 0.2rem solid var(--primary);
}

.menu .row .menu-card .lihat-detail:hover {
  translate: 1rem;
  transition: 0.4s;
  box-shadow: 30px 16px 16px 0px #58555533;
}

.menu .row .menu-card .lihat-detail a {
  /* text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
  color: #4c3931;
  font-weight: bold;
}

/* Contact Section */
.contact {
  background: linear-gradient(0deg, #fff, #fbff95);
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  /* background-color: #fff; */
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row .order {
  margin-left: 2rem;
}

.contact .row .order p {
  text-align: left;
  padding-top: 2rem;
}

.contact .row .order .pesan {
  margin-top: 0;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* accordion */
.accordion {
  margin: auto;
  /* width: 400px; */
}

.accordion input {
  display: none;
}

.box {
  position: relative;
  background: white;
  height: 64px;
  transition: all 0.6s ease-in-out;
  border-radius: 10px;
}

.box::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

header.box {
  background: #fbff95;
  z-index: 5;
  cursor: initial;
  text-align: center;
}

header .box-title {
  font-size: 30px;
  color: #4c3931;
  cursor: initial;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.box-title {
  height: 64px;
  color: #4c3931;
  line-height: 64px;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: bold;
}

.box-content {
  width: calc(100% - 40px);
  padding: 30px 20px;
  font-size: 1.4rem;
  color: #4c3931;
  display: none;
  font-family: "Poppins";
  padding-left: 3%;
}

.box-content ol {
  padding-left: 3%;
}

.box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

input:checked + .box {
  height: auto;
  margin: 16px 0;
}

input:checked + .box .box-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}

.arrows section .box-title {
  padding-left: 44px;
  width: calc(100% - 64px);
}

.arrows section .box-title:before {
  position: absolute;
  display: block;
  content: "\203a";
  font-size: 1.4rem;
  left: 20px;
  top: -2px;
  transition: transform 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.54);
}

input:checked + section.box .box-title:before {
  transform: rotate(90deg);
}

/* end accordion */

/* Footer */

footer {
  background-color: #fbff95;
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 2rem;
  padding-top: 6%;
  padding-bottom: 1%;
  border-radius: 100px 100px 0px 0px;
  box-shadow: 1px 0px 3px rgba(1, 1, 3, 0.5);
}

footer .partner .partnership {
  width: 200px;
  margin-bottom: 3rem;
  opacity: 60%;
}

footer .partner .partnership:hover {
  transition: 0.5s;
  opacity: 100%;
}

.logo a {
  flex-wrap: wrap;
  color: #4c3931;
}

footer .follow p {
  font-size: 40px;
  color: #4c3931;
  cursor: initial;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 4%;
  background-color: #fff;
  border-radius: 5rem;
  display: inline-block;
  padding: 0.5rem 3rem;
  border: 1px solid #fbff95;
  border-bottom: 0.3rem solid var(--primary);
}

footer .logo .socmed {
  border-radius: 50%;
  width: 4%;
  margin: 0 1%;
}

footer .logo .socmed:hover {
  scale: 1.2;
  transition: 0.4s;
}

footer .pay .pay-method {
  width: 13%;
  margin-top: 4rem;
  filter: grayscale(100%);
  opacity: 50%;
  padding: 1%;
}

footer .pay .pay-method:hover {
  transition: 0.5s;
  filter: grayscale(0%);
  opacity: 100%;
}

footer .credit p {
  font-size: 20px;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  color: #4c3931;
}

footer a {
  color: #4c3931;
}

/* Media Querries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  .navbar img {
    width: 30%;
    margin-top: 3.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav .active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 4%;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 5%;
    font-size: 2rem;
    padding-left: 7%;
    padding-right: 7%;
  }

  .about .row .content p {
    font-size: 1.6rem;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 3%;
  }

  .menu p {
    font-size: 1.2rem;
    padding-left: 13px;
    padding-right: 13px;
    text-align: center;
  }

  .menu .row .menu-card img {
    width: 40%;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  footer .partner .partnership {
    width: 20%;
  }

  footer .follow p {
    font-size: 27px;
  }

  footer .logo .socmed {
    width: 7%;
  }

  footer .pay .pay-method {
    width: 20%;
  }

  footer .credit p {
    font-size: 15px;
    padding-bottom: 3%;
  }

  .hub a img {
    width: 75px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .navbar img {
    width: 50%;
    margin-left: 5rem;
  }

  #home .caption h1 {
    font-size: 4rem;
  }

  #home .caption h1 span {
    font-size: 5rem;
  }

  #home .caption p {
    font-size: 2rem;
    text-align: left;
  }

  .about h2 span,
  .menu h2 span,
  .contact h2 span {
    font-size: 40px;
  }

  .about h2,
  .menu h2,
  .contact h2 {
    font-size: 40px;
  }

  .menu .row .menu-card img {
    border-radius: 25px;
    width: 40%;
    margin-bottom: 1rem;
    margin-left: 1rem;
    justify-content: center;
  }

  header .box-title {
    font-size: 25px;
  }

  footer .partner .partnership {
    width: 30%;
  }

  footer .follow p {
    font-size: 20px;
    margin-bottom: 2rem;
  }

  footer .logo .socmed {
    width: 10%;
  }

  footer .pay .pay-method {
    width: 25%;
  }

  footer .credit p {
    font-size: 12px;
    padding: 0 15px 15px 15px;
  }

  .hub a img {
    width: 70px;
  }

  .menu .row .menu-card .lihat-detail {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 2% 5%;
    color: black;
    box-shadow: 0px 16px 16px 0px #58555533;
    justify-content: center;
    cursor: pointer;
  }

  .customer h3 {
    font-size: 30px;
  }

  .customer .customer-img img {
    width: 35%;
  }
  .accordion {
    margin: 3%;
  }

  .box-content {
    padding-left: 10%;
  }

  .box-content ol {
    padding-left: 5%;
  }
}

/* Navbar Responsive */
@media only screen and (min-width: 760px) and (max-width: 991px) {
  .navbar img {
    width: 30%;
    margin-top: 3.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
}
